# SchedulerService runtime env template (.env.properties)
SCHEDULER_SERVICE_PORT=8085

# RabbitMQ
RABBITMQ_HOST=<rabbitmq-host>
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=<rabbitmq-username>
RABBITMQ_PASSWORD=<rabbitmq-password>

# Crawl schedule
CRAWLER_SCHEDULING_ENABLED=true
CRAWL_SCHEDULE_FIXED_DELAY_MS=14400000
CRAWL_SCHEDULE_INITIAL_DELAY_MS=60000
